*{
    font-family:Helvetica,sans-serif;
    overflow-x: hidden;
}

#header{
    background-color: #d9ddee;
}

.pl-7rem{
    padding-left: 4rem;
}

/* .item{
    background-color: #f1f3ff;
    height: 230px;
    weight: 230px;
    /* width: 500px;
    margin-right: 30px; */
    /* background-size: 200px 100px; */

    /* background-image:url(public/OwlCarousel2/img/Leftbutton.png); */
    /* border-radius: 5px;
    box-shadow: 10px; */
/* } */
.fa-star {
    color: gold;
}

.connect a{
    margin-right: 10px;
}
@media only screen and (max-width: 320px) {
    .pl-7rem{
       margin-left: -1.5rem;
        text-align: center;
    }
    .text-sm{
        font-size: 14px;
    }
    .star{
        text-align: center;
    }
}
@media only screen and (max-width: 375px) {
    .pl-7rem{
      margin-left: -1.5rem;
      text-align: center;
    }
    .star{
        text-align: center;
    }
}
@media only screen and (max-width: 425px) {
    .pl-7rem{
        margin-left: -1.5rem;
        margin-right: 1.5rem;
        text-align: center;
    }
    .star{
        text-align: center;
    }
}
@media only screen and (max-width: 768px) {
    /* header */
    .pl-7rem{
        padding-left: 40px;
    }
    .img-car{
       padding-left: 4.5rem;
    }
    /* service */
    .pd-sm{
        margin-top: -6rem;
    }
    .kategori h2{
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
}
@media only screen and (max-width:1024px){
    .pl-7rem{
        padding-left: 40px;
    }
}

